@charset "UTF-8";

#header {
	/*background-color:#FF0000;*/
	margin:60px auto 0;
	text-align:center;
}

#content {
	/*position: relative;
	background-color:#FF0000;*/
	margin:50px 150px 50px 150px;
	height:600px;
}

#pic {
	position: relative;
	text-align:center;
}

#btn {
	position: relative;
	bottom: 0px;
	margin-left:200px;
}

#crawl,#search,#list,#analysis {
	margin:0 30px;
	height:100px;
	width:140px;
	font-size:1.5em;
}