#header {
	margin:60px auto 0;
	text-align:center;
}

#content {
	margin:150px;
	height:100%;
	text-align:center;
}

form {
	text-align:center;
}

#passage,#submit {
	font-size: 2.5em;
	margin:10px;	
}

#btn {
	position:absolute;
	bottom: 0px;
	left:250px;
	right:250px;
	padding: 0 auto;
	text-align:center;
}

#exit {
	margin:50px auto;
	height:80px;
	width:300px;
	font-size:2em;
}