@charset "UTF-8";

#header {
	/*background-color:#eeff33;*/
	width: 100%;
	height: 60px;
}

h1 {
	margin-bottom:0;
	text-align: center;
}

#content {
	background-color:#EEEEEE;
	height:540px;
	width:100%;
	float:both;
}

#btn {
	clear:both;
	text-align:center;
}

.btn1 {
	background-color: #5BC0DE;
	height:80px;
	width:160px;
}

#selection {
	height:40px;
	width: 160px;
}