<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员主页</title>
    <!--		加入背景音乐-->
    <embed th:src="@{/static/img/d.mp3}" hidden="true" autostart="true" loop="true"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/css/adminMain.css}">
</head>

<body>
<script th:src="@{/static/layui/layui.js}"></script>

<ul class="layui-nav">
    <li class="layui-nav-item">
        <a th:href="@{/tip_off_center}">举报中心<span class="layui-badge">99+</span></a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/user_query}">用户查询<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/all_users}">用户总览<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/admin/socket}">发布站内消息<span class="layui-badge-dot"></span></a>
    </li>


</ul>


<script>
    layui.use('element',function () {
//实例化element
        var element = layui.element();
//初始化动态元素，一些动态生成的元素如果不设置初始化，将不会有默认的动态效果
        element.init();
//导航条点击监听
        element.on('nav(bigData)',function (elem) {
            console.log(elem);
        });
//tab切换监听
        element.on('tab(test)',function (data) {
            console.log(data);
        });
//手风琴折叠面板开启关闭监听
        element.on('collapse(collapseFilter)',function (data) {
            console.log(data.show);
            console.log(data.title);
            console.log(data.content)
        });
//触发的事件
        var active = {
            setPercent: function () {
//设置50%进度
                element.progress('demo', '50%')
            }
        }
//点击事件的监听
        $('.site-demo-active').on('click', function(){
            var othis = $(this);
            var type = $(this).data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    })
</script>
</body>
</html>