<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link>
<meta charset="UTF-8"/>
<title>客户端</title>
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
<link rel="stylesheet" th:href="@{/static/layui/css/layui.mobile.css}" media="all" />
<link rel="stylesheet" th:href="@{/static/css/usermain.css}">
<script th:src="@{/static/jquery.min.js}"></script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script>
    layui.use('element',function () {
//实例化element
        var element = layui.element();
//初始化动态元素，一些动态生成的元素如果不设置初始化，将不会有默认的动态效果
        element.init();
//导航条点击监听
        element.on('nav(bigData)',function (elem) {
            console.log(elem);
        });
//tab切换监听
        element.on('tab(test)',function (data) {
            console.log(data);
        });
//手风琴折叠面板开启关闭监听
        element.on('collapse(collapseFilter)',function (data) {
            console.log(data.show);
            console.log(data.title);
            console.log(data.content)
        });
//触发的事件
        var active = {
            setPercent: function () {
//设置50%进度
                element.progress('demo', '50%')
            }
        }
//点击事件的监听
        $('.site-demo-active').on('click', function(){
            var othis = $(this);
            var type = $(this).data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    })
</script>

<style>
    .threed{
        text-align: center;
        color: mediumorchid;
        -webkit-text-stroke: 1px black;
        letter-spacing: 0.04em;
        background-color: white;
    }
</style>

</head>
<body>

<ul class="layui-nav">
    <li class="layui-nav-item">
        <a th:href="@{/usermain}">控制台<span class="layui-badge">99+</span></a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/personalInfo}">个人中心<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/personalInfo}"><img th:src="@{${filePath}}" class="layui-nav-img">
            <!--        取session-->
            [[${session.loginUser}]]</a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/updateInfo}">修改信息</a></dd>
            <dd><a th:href="@{/Safe}">安全管理</a></dd>
            <dd><a th:href="@{/}">退了</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a th:href="@{/personalInfo}">激活<i class="layui-icon">&#xe618;</i></a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/activate_email}">激活邮箱</a></dd>
            <dd><a th:href="@{/activate_box}">激活提van♂箱</a></dd>
            <dd><a th:href="@{/close_box}">关闭提van♂箱</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
        <a th:href="@{/personalInfo}">van题箱<i class="layui-icon">&#xe618;</i></a>
        <dl class="layui-nav-child">
            <dd><a th:href="@{/ask_question}">提van题♂</a></dd>
            <dd><a th:href="@{/question_list}">有人提van我?</a></dd>
            <dd><a th:href="@{/my_question_list}">我的提van</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a th:href="@{/user/socket}">查看消息<span class="layui-badge-dot"></span></a>
    </li>


</ul>
<div class="layui-row">
    <div class="layui-col-md8 layui-col-md-offset2" style="margin-top: 20px">
        <h1>客户端</h1>
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-form-item">
                    <label class="layui-form-label">请输入昵称</label>
                    <div class="layui-input-inline" style="width: 300px">
                        <input id="username" type="text" name="title" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn"  onclick="connect()">连接</button>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请发送内容</label>
                    <div class="layui-input-inline" style="width: 300px">
                        <input id="writeMsg" type="text" name="title" required  lay-verify="required" placeholder="请输入要发送的内容" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn"  onclick="sendMsg()">发送</button>
                </div>

            </div>
        </div>

        <div class="layui-card" style="margin-top: 100px">
            <div class="layui-card-header">
                <h1>操作详情</h1>
            </div>

            <div id="content" class="layui-card-body">
                <h3 align="center" style="color: #007DDB;margin-top: 20px;margin-bottom: 20px">这里将显示操作信息</h3>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ws = null;
    var username = $("#username").val()
    function connect(){
        if(username!=null){
            $("#content").html('');
            if ('WebSocket' in window){
                //ws = new WebSocket("ws://www.isuyu.cn:8086/socketServer/"+$("#username").val());
                ws = new WebSocket("ws://127.0.0.1:8080/socketServer/"+$("#username").val());
            }
            else if ('MozWebSocket' in window){
                //ws = new MozWebSocket("ws://www.isuyu.cn:8086/socketServer/"+$("#username").val());
                ws = new MozWebSocket("ws://127.0.0.1:8080/socketServer/"+$("#username").val());
            }
            else{
                alert("该浏览器不支持websocket");
            }


            ws.onmessage = function(evt) {
                var content = $("#content").html();
                $("#content").html(content+'<div style="text-align: right;margin-bottom: 8px">\n' +
                    '                        <p><q style="color: mediumorchid">服务端:</q><span>'+evt.data+ '</span></p>\n' +
                    '                    </div>\n' +
                    '                    <br/>');
            };

            ws.onclose = function(evt) {
                var content = $("#content").html();
                $("#content").html(content+'<div style="margin-bottom: 8px">\n' +
                    '                        <p><q style="color: coral">客户端:</q><span>连接中断</span></p>\n' +
                    '                    </div>\n' +
                    '                    <br/>');
            };

            ws.onopen = function(evt) {
                $("#content").html('<div style="margin-bottom: 8px">\n' +
                    '                        <p><q style="color: coral">客户端:</q><span>连接成功...</span></p>\n' +
                    '                    </div>\n' +
                    '                    <br/>');
            };
        }else{
            alert("请输入您的昵称");
        }
    }

    function sendMsg() {
        ws.send($("#writeMsg").val());
        var content = $("#content").html();
        $("#content").html(content+'<div>\n' +
            '                        <p><q style="color: coral">客户端:</q><span>'+$("#writeMsg").val()+ '</span></p>\n' +
            '                    </div>\n' +
            '                    <br/>');
    }
</script>
</body>
</html>
