body,html{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
    
}

.content{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}

.header{
    position: relative;
    float: top;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 2px 6px 0px;
    box-shadow: rgba(0,0,0,0.1);
    padding-top: 0px;
    margin-top: 0px;
    width: 90%;
    height: 8%;
    margin-left: 10%;
}

.link {
    position: absolute;
    top: 5%;
    line-height: 320%;
    color: #101010;
    font-size: 14pt;
    text-decoration: none;
}

#link1 {
    left: 58%;
}

#link2 {
    left: 68%;
}

#link3 {
    left: 80%;
}

#link4 {
    left: 88%;
}

.link a:hover{
    color: #ffffff;
    background-color: #3671CC;
    border-radius: 10px 10px 10px 10px;
}

#left{
    width: 10%;
    height: 100%;
    background-color: #000000;
}


