#mainPart{
    width: 100%;
    margin: 0px auto;
    background: #04223d;
    opacity: 0.7;
    height: 580px;
}
#personalInfo{
    width: 29.8%;
    float: left;
    /*border-right: black 2px solid;*/
    background: #697878;
    height: 580px;
}
#collection{
    width: 70%;
    float: right;
    background: #697878;
    height: 580px;
}
#head{
    width: 260px;
    height: 260px;
    margin: 50px auto;
    border-radius: 50%;
    background: #feffff;
    border: black 1px solid;
    background-image: url("../Img/bg.jpg");
    background-size: 100% 100%;
}
#headImg{

}
#name{
    font-size: 35px;
    margin-left: 35px;
    color: #050505;
}
#email{
    font-size: 25px;
    margin-left: 35px;
    margin-top: 10px;
    color: #030303;
}
#editInfo{
    width: 80%;
    margin: 30px;
    margin-left: 38px;
    height: 30px;
    border-radius: 12px;
    font-size: 15px;
}
.infoTab{
    background: #697878;
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    color: #151313;
}
.infoTab:hover{
    color: azure;
}
.infoEdit{
    height: 30px;
    width: 60%;
    background: aliceblue;
    border-radius: 30px;
    float: left;
    margin-left: 20px;
}
p{
    float: left;
    font-size: 20px;
}
#subPart1{
    float: left;
    /*display: none;*/
}
form{
    float: left;
}
.row1{
    margin-top: 40px;
    margin-left: 30px;
}
#writesth{
    height: 90px;
    width: 60%;
    background: aliceblue;
    border-radius: 30px;
    float: left;
    margin-left: 20px;
}
#edit{
    height:30px;
    width: 60px;
    border-radius: 10px;
    float: left;
    display: block;
    margin: 50px auto;
}
#subPart2{
    float: left;
    width: 100%;
    display: none;
}
#collectionPart{
    width: 80%;
    height: 480px;
    border: black 2px solid;
    margin: 30px 20px;
}
