*{
    margin: 0;
    padding: 0;
}

.header
{   position: fixed;
    left: 0px;
    top: 0;
    z-index: 99;
    height: 10%;
    width: 100%;
    background-color: rgb(182, 176, 176);
    text-align:center
    
}
.picture
{
float: left;
height: 90px;
position: relative;
left: 0px;

}
#pi
{
    float: right;
    width: 400px;
    height: 90px;
    background-size:cover;
    background-image: url(3.png)
   
}
.hh{
    margin-top: 20px;
    margin-left: 0px;
    position: absolute;
    left: 30%;
    
}
#head-l
{   
    height: 50px;
    width: 700px;
    font-size: 20px;
}
#head-r
{     
    height: 55px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    background-color: #4e71f2;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#content
{   
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    height: auto;
    background-color: rgb(243, 243, 243);
}
#main-container
{   width: 100%;
    height: 1200px;
}
.list
{   

    width: 80%;
    background: #ffffff;
    padding: 5px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 60px;
    height: 150px;
    border-style: solid;
    border-radius:20px;
    border-width: 2px;
    border-color:#00BFFF;
  

}
#foot
{
    height:50px;position:fixed;bottom:0px;left:0px;
    width: 100%;
    background: #ffffff;
}
#next
{
    text-align:center;
}