body{
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 100); 
}
#register {
  position:absolute;
  left: 430px;
  top: 150px;
  width: 49px;
  height: 36px;
  color: rgba(16, 16, 16, 100);
  font-size: 24px;
  text-align: left;
  font-family: SourceHanSansSC-bold;
}
#id{
  position:absolute;
  left: 430px;
  top: 220px;
  width: 440px;
  height: 60px;
  line-height: 20px;
  border-radius: 30px;
  text-align: left;
  text-indent: 65px;
  border: 1px solid rgba(211, 211, 211, 100);
}
#id_p{
  position:absolute;
  left: 455px;
  top: 240px;
  width: 24px;
  height: 24px;
}
#password{
  position:absolute;
  left: 430px;
  top: 324px;
  width: 440px;
  height: 60px;
  line-height: 20px;
  border-radius: 30px;
  text-align: left;
  text-indent: 65px;
  border: 1px solid rgba(211, 211, 211, 100);
}
#password_p{
  position:absolute;
  left: 455px;
  top: 342px;
  width: 24px;
  height: 24px;
}
#register_button{
  position:absolute;
  left: 432px;
  top: 440px;
  width: 440px;
  height: 60px;
  line-height: 23px;
  border-radius: 30px;
  background-color: rgba(57, 82, 253, 100);
  color: rgba(255, 255, 255, 100);
  font-size: 16px;
  text-align: center;
  font-family: Roboto;
  border: 1px solid rgba(255, 255, 255, 100);
}