/*.listContainer{*/
/*    background: lightcyan;*/
/*    border:1px solid #BBFFE3;*/
/*    border-radius: 10px;*/
/*    !*text-align: center;*!*/
/*}*/

.listContainer nav{
    text-align: center;
}

.listContainer button{
    background: cornflowerblue;
}

.container{
    border-left:1px solid #BBFFE3;
    border-right:1px solid #BBFFE3;
    border-radius: 10px;
    height: 700px;
}