#index_bg{
    position: relative;
    height: 500px;
    width: 100%;
}

.bacground{
    display: inline-block;
    background: url("/image/bg_note_coffee.jpg") center ;
    background-size: 100% 100%;
    height: 500px;
    width: 100%;
    opacity: 0.3;
}

.float_part{
    position:absolute;
    left: 0px;
    top: 0px;
    height: 500px;
    width: 100%;
}

#icon1{
    width: 250px;
    height: 77px;
}

#searchInput
{
    border-radis: 10%;

}

.model{
    width: 20%;
    height: 200px;
}

.model_title
{
    font-size: 18px;
}

.model_text
{
    height: 40%;
    font-size: 5px;
    border: 1px solid gray;
}