#table01{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    table-layout:fixed;
    position: absolute;
    top: 30%;
    left: 20%;
}
th{
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA  no-repeat;
}
td{
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: white  no-repeat;
    word-break:keep-all;     /* 不换行 */
    white-space:nowrap;      /* 不换行 */
    overflow:hidden;         /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;  /* 溢出时显示省略标记...；需与overflow:hidden;一起使用*/

}
#see{
    background: #C7E1E2  no-repeat;
    border:none;
}
#string{
    backgroundcolor: black;
    height: 50px;
    width: 550px;
    border-radius: 20px;
    border: none;
}
#button1{
    height: 45px;
    width: 80px;
    font-size: 20px;
    border-radius: 18px;
    background-color: transparent;
    border:1px solid gray;
    outline: none;
}
#button1:hover{
    background-color: lightgray;
}
#button1:active{
    background-color: gray;
}
div#input{
    position: absolute;
    top: 20%;
    left: 34%;
}
div#bg{
    width: 100%;
    height: 100%;
}
#paging{
    margin-top: 40%;

}
#previous{
    border-radius: 20px;
    background-color: transparent;
    width: 80px;
    height: 35px;
    border:1px solid gray;
    outline: none;
}
#previous:hover{
    background-color: lightgray;
}
#previous:active{
    background-color: gray;
}
#next{
    border-radius: 20px;
    background-color: transparent;
    width: 80px;
    height: 35px;
    border:1px solid gray;
    outline: none;
}
#next:hover{
    background-color: lightgray;
}
#next:active{
    background-color: gray;
}