<html>
<head>
  <title>Please Sign In</title>
</head>
<body>
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
  <form action="/" method="post">
    <legend>Please enter filename in:</legend>
    <p><input name="filename" placeholder="Filename" value="{{ filename }}"></p>
    <legend>Please enter search filename in:</legend>
    <p><input name="search" placeholder="Filename" value="{{ search }}"></p>
    <p><button type="submit" name="sign">Sign In</button></p>
    {% if Quene %}
    <p><button type="submit" name="sort">{{ Quene }}</button></p>
    {% endif %}
  </form>
    {% if IsSort %}
        <p style="color:red">{{ IsSort }}</p>
    {% endif %}
    {% for result in results %}
        <p style="color:red">{{ result }}</p>
    {% endfor %}
</body>
</html>