@charset "UTF-8";
body {
        background-image: url(back.JPG);
        margin: 0;
    }
    
    .divimg img {
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-left: 50px;
    }
    
    #nav {
        margin-top: 40px;
        text-align: center;
        line-height: 30px;
        width: 300px;
        float: left;
        padding: 5px;
        font-size: 25px;
        border-style: dotted solid;
        color: white;
        border-width: 0 1px 0 0;
    }
    
    #menu {
        margin-left: 0;
        margin-right: 0;
        border-style: groove;
        border-color: #8b8b8b;
    }
    
    #papersearch {
        color: #eeeeee;
        border: 0;
        background-color: transparent;
        width: 300px;
        height: 100px;
        font-size: 30px;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #section {
        width: 1000px;
        float: left;
        padding: 10px;
    }
    
    #h1 {
        color: #1d6141;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    hr {
        border-color: FF7F00;
    }
    
    #toplist {
        width: 980px;
        border-style: dotted dashed solid double;
        border-radius: 12px;
        background-color: #ffffff;
        margin-left: 20px;
        margin-top: 30px;
        background: rgba( 255, 255, 255, 0.8);
    }
    
    #p1 {
        color: #043820;
        font-size: 32px;
        margin-left: 30px;
    }
    
    #p2 {
        color: #1b4b35;
        font-size: 30px;
        margin-top: 150px;
        margin-left: 370px;
    }
    
    #p3 {
        color: #21503b;
        font-size: 28px;
        margin-top: 100px;
        margin-left: 300px;
    }
    
    #p4 {
        color: #255f44;
        font-size: 26px;
        float: left;
        margin-left: 30px;
    }
    
    #p5 {
        color: #3d7a5e;
        font-size: 24px;
        margin-top: 10px;
        margin-left: 80px;
        float: left;
    }
    
    #p6 {
        color: #398050;
        font-size: 22px;
        margin-top: 0px;
        margin-left: 0px;
        float: left;
    }
    
    #p7 {
        color: #329632;
        font-size: 20px;
        margin-left: 300px;
        float: left;
    }
    
    #p8 {
        color: #59a15c;
        font-size: 18px;
        margin-top: 0px;
        margin-left: 160px;
        float: left;
    }
    
    #p9 {
        color: #6ea85f;
        font-size: 16px;
        float: left;
        margin-left: 50px;
    }
    
    #p10 {
        color: #84b667;
        font-size: 14px;
        margin-left: 120px;
    }