<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>vueStudy</title>
	<style>
		.active{
			border:1px solid red;
		}
	</style>

</head>
<body>

<div id="app" class="aa" >
<!--	插值表达式-->
	{{message}}
</div >
<div id="app2">
	<span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
</div>

<div id="app3">
	<p v-if="seen">现在你看到我了</p>
</div>

<div id="app4">
	<ol>
		<li v-for="(todo,index) in todos">
			{{ todo.text }}{{index}}
		</li>
	</ol>
</div>

<div id="app5">
	<p>{{ message }}</p>
	<button v-on:click="reverseMessage">反转消息</button>
</div>

<div id="app6">
	<p>{{ message }}</p>
	<input v-model="message">
</div>
<div id="app7">
	<h2 v-text="message"></h2>
</div>

<div id="app8">
	<p>{{ message }}</p>
	<button v-on:click="change">change</button>
</div>

<!--<div id="app9">-->
<!--	<p v-show="true">看到我</p>-->
<!--	<p v-show="isShow">看到我</p>-->
<!--	<p v-show="age>18">看到我</p>-->
<!--</div>-->
<!--<div id="app10">-->
<!--	<p v-if="true">看到我</p>-->
<!--	<p v-if="isShow">看到我</p>-->
<!--	<p v-if="age>18">看到我</p>-->
<!--</div>-->

<div id="app11">
	<img v-bind:src="imgSrc" alt="" :title="imgTitle"/>
	<img :src="imgSrc" :class="{active:isActive}" @click="change"/>
	<img v-bind:src="imgSrc" alt=""/>
</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
        /**
         * v-text 替换文本 简写 {{}}
         * v-html 设置innerHtml的值 可以解析里面的html
         * v-on 绑定事件 简写 @click
         * 自定义参数 doit(p1,p2) @keyup.enter限定回车
         * v-show 显示或隐藏 识别bool值 修改display 实时更新
         * v-if 根据表达式真假 切换元素显示与隐藏 操纵dom
         * 频繁切换用v-show
         * this 可以访问本类数据
         * v-bind 设置元素的属性 v-bind:属性名=表达式 简写[:属性名=属性值]
         * 动态增删class，建议{active:isActive} 如果isActive为true，就显示active
         * v-for 根据数据生成列表数据，item和index可以结合其他指令使用
         * v-model 表单元素双向数据绑定 更改一个会改变另外一个的数据
         *
         * axios 使用
         * axios.get(地址?key=value&key2=value).then(function(response){},function(err){})
         * axios.post(地址,{对象}).then(function(response){},function(err){})
         * axios的this被改变，先进行保存
         * @type {Vue}
         */
		var app = new Vue({
			/* #选择器 id选择器 用于选择id为app的元素 */
			/* el:挂载点 */
            /* 作用域 在el命中的元素内部 */
            /* 不能挂载在html body中 */
			el:"#app",
			data:{
			    message: "hello world!"
			}
		});
        var app2 = new Vue({
	        /* v- 开头是指令 */

            el:"#app2",
            data:{
                message:"hello world!"
            }
        });

        var app3 = new Vue({
            /* v- 开头是指令 */
            /* app3.seen=false;  */
            el:"#app3",
            data:{
                seen: true
            }
        });

        var app4 = new Vue({
            /* v- 开头是指令 */
            /* app4.todos.push({ text: '新项目' }) */
            el:"#app4",
            data:{
                todos:[
                    {text:'学习vue'},
                    {text:'学习js'},
                    {text:'学习html'},
                    {text:'学习css'},
                ]
            }
        });
        var app5 = new Vue({
            /* v- 开头是指令 */
            /* app4.todos.push({ text: '新项目' }) */
            el:"#app5",
            data:{
               message:"hello vue.js"
            },
	        methods:{

                reverseMessage:function () {
					this.message = this.message.split(' ').reverse().join(' ');
                }
	        }
        });

        var app6 = new Vue({
            el: '#app6',
            data: {
                message: 'Hello Vue!'
            }
        });
        var app7 = new Vue({
            el: '#app7',
            data: {
                message: 'Hello Vue!'
            }
        });

        var app8 = new Vue({
	        /*通过this调用页面具体元素的值，并进行修改*/
            el: '#app8',
            data: {
                message: 'Hello Vue!'
            },
            methods: {
                change:function () {
                    this.message+='!'
                }
            }
        });

        var app9 = new Vue({
            /*通过this调用页面具体元素的值，并进行修改*/
            el: '#app9',
            data: {
                age: 19,
	            isShow:true
            },
        });

        var app10 = new Vue({
            /*通过this调用页面具体元素的值，并进行修改*/
            el: '#app10',
            data: {
                age: 19,
                isShow:true
            },
        });

        var app11 = new Vue({
            /*通过this调用页面具体元素的值，并进行修改*/
            el: '#app11',
            data: {
                imgSrc:"http://www.itheima.com/images/logo.png",
	            imgTitle:"haha",
	            isActive:false
            },
	        methods:{
                change:function () {
					this.isActive = !this.isActive;
                }
	        }
        });
	</script>

</body>
</html>