<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <section >
        
        <!-- 登录 -->

        <div class="container">
            <div class="user singinBx">
                <div class="imgBx"><img src="image/undraw_fill_form_re_cwyf.png" style="width: 200px;height: 200px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)" alt=""></div>
                <div class="formBx">
                    <form id="form_login" action="/login" method="post">
                        <h2>登录</h2>
                        <input id="login_name" type="text" name="name" placeholder="用户名">
                        <input id="login_password" type="password" name="password" placeholder="密码">
                        <input id="login" type="button" name="" value="登录">
                        <p class="signup">没有账号？<a href="#" onclick="topggleForm();">注册</a></p>
                    </form>
                </div>
            </div>

            <!-- 注册 -->

            <div class="user singupBx">
                <div class="formBx">
                    <form id="form_register" action="/register" method="post">
                        <h2>注册</h2>
                        <input id="registername" type="text" name="name" placeholder="用户名">
<!--                        <input type="email" name="" placeholder="邮箱地址">-->
                        <input id="registerPassword" type="password" name="password" placeholder="密码">
                        <input id="sureRegisterPassword" type="password" name="" placeholder="再次输入密码">
                        <input id="register" type="button" name="" value="注册">
                        <p class="signup">已有账号？<a href="#" onclick="topggleForm();">登录</a></p>
                    </form>
                </div>
                <div class="imgBx"><img src="image/undraw_Instant_information_re_c5v5.png" style="width: 200px;height: 200px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)"  alt=""></div>
            </div>

        </div>
    </section>
    <script type="text/javascript">
        function topggleForm(){
            var container = document.querySelector('.container');
            container.classList.toggle('active');
        }
    </script>
    <script src="/js/login.js"></script>
</body>
</html>