<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="https://static.jianshukeji.com/hcode/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/left.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <style>
        .highcharts-credits{
            font-size: 1px;
        }
    </style>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script type="text/javascript" src="js/left.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>

</head>
<body>


<!--    回到顶部-->
<div id="backUp" style="z-index: 9999; position: fixed ! important; right: 5px; bottom: 70px;cursor: pointer">
    <img src="image/fanhuidingbucopy.png" />
</div>


<!--    顶部导航栏-->
<div class="nav">
    <ul class="fl">
        <li><a href=""><img src="image/示例图片.png" alt="" class="logo"></a></li>
    </ul>
    <ul class="fr">
        <li><a href=""><div class="eg"><img src="/image/touxiang2.jfif" alt="" class="touxiang"></div></a></li>
        <li class="userName"><a href=""></a>用户名 </li>
    </ul>
</div>

<!--侧边导航栏-->
<div class="content-csk">
    <div class="open-csk" id="open"><span class="left-span-csk">🎈打开导航</span></div>
    <div class="content-left-csk" id="left" style="height: 1500px">
        <div class="myclose-csk" id="myclose"><span class="left-span-csk">❌收起导航</span></div>
        <div class="left-title-csk">
            <!--                <img src="image/098zhome01.png" class="left-title-icon-csk">-->
            <a href="/t">🍰回到主页</a>
        </div>
        <div class="nav-title-csk">
            <a href="/getKeyWordCloud">🌷词云分析</a>
        </div>
        <div class="nav-title2-csk">
            <!--                <img src="image/041preview.png" class="nav-title2-icon-csk">-->
            <a href="/left">📖论文列表</a>
        </div>
    </div>
</div>


<div id="wordContainer" style="width: 500px;height: 500px"></div>

<table id="currentTableId24"></table>


<script src="/js/getWord.js">
    // JS 代码
</script>
<script src="layui/layui.js"></script>
<script>
    function toKeyWord(keyword){

        layui.config({
            base: 'cardTable/' //配置 layui 第三方扩展组件存放的基础目录
        })

        layui.use(['cardTable'], function () {
            let cardTable = layui.cardTable;

            cardTable.render({
                elem: '#currentTableId24',
                url: '/searchByKeyWord?keywords='+keyword,
            })
        })
    }
</script>
</body>
</html>