<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="https://static.jianshukeji.com/hcode/images/favicon.ico">

    <style>
        .highcharts-credits{
            font-size: 1px;
        }
    </style>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>

</head>
<body>
<div id="wordContainer" style="width: 500px;height: 500px"></div>
<script src="/js/getWord.js">
    // JS 代码
</script>
</body>
</html>