@import url("https://unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

.el-carousel__item:nth-child(7n) {
    background-image: url(../images/bg1.jpg);
}

.el-carousel__item:nth-child(7n+1) {
    background-image: url(../images/bg2.jpg);
}

.el-carousel__item:nth-child(7n+2) {
    background-image: url(../images/bg3.jpg);
}

.el-carousel__item:nth-child(7n+3) {
    background-image: url(../images/bg4.jpg);
}

.el-carousel__item:nth-child(7n+4) {
    background-image: url(../images/bg5.jpg);
}

.el-carousel__item:nth-child(7n+5) {
    background-image: url(../images/bg6.jpg);
}

.el-carousel__item:nth-child(7n+6) {
    background-image: url(../images/bg7.jpg);
}

.el-carousel__arrow--right {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    right: 100px;
    bottom: 30px;
}

.el-carousel__arrow--left {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    right: 160px;
    bottom: 30px;
    left: auto;
}

.el-carousel__arrow {
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 50px;
    top: auto;
}

.el-carousel__indicators {
    display: none;
}

.el-icon-arrow-left {
    zoom: 200%;
    transform: scale(200%);
}

.el-icon-arrow-right {
    zoom: 200%;
    transform: scale(200%);
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
    color: white;
    font-family: 'YaHei';
    font-style: normal;
    font-size: 18px;
    font-weight: 10;
    -webkit-text-stroke: 0.05px #000000;
}

.el-breadcrumb {
    position: fixed;
    left: 150px;
    top: 10px;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner a {
    color: white;
    font-weight: 10;
}

.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
    color: white;
    cursor: pointer;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    cursor: pointer;
    font-weight: 10;
    color: white;
}

#myList {
    background-color: white;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    opacity: 70%;
    width: 1400px;
    height: 600px;
    border-radius: 18px;
    position: fixed;
    left: 260px;
    top: 150px;
}

#title1 {
    font-size: 14px;
    margin-left: 20px;
}

#title{
    width:1400px;
    text-align: center;
}
#abstract{
    font-size:20px;
    width: 900px;
    margin-left: 250px;
    margin-top: 20px;
    height:400px;
    overflow-y: auto;
    text-indent:2em;
}