.paper-item {
  margin: 30px 80px;
}
.paper-head {
  position: relative;
}
.paper-title {
  font-size: 30px;
  font-weight: 700;
}
.paper-mid {
  padding-top: 10px;
  font-size: 15px;
  height: 30px;
}
.mid-word {
  position: relative;
  bottom: 4px;
}
.paper-keyword {
  display: inline-block;
  width: 800px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.paper-foot span:nth-child(1) {
  font-size: 15px;
  font-weight: 700;
}
.paper-info {
  margin-top: 10px;
  max-height: 5em;
  word-wrap: break-word;
  text-indent: 2em;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
.line {
  margin-top: 15px;
  height: 2px;
  background-color: rgb(64, 116, 54);
}

.kongxin,
.shixin {
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  position: absolute;
}
.kongxin {
  right: 0;
}
.shixin {
  right: -5px;
  color: rgb(64, 116, 54);
}

.xiaoshi {
  display: none;
}

.addItem{
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 0px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    left: 60px;
    top:80px;
    border:0px solid;
    border-radius: 3px;
    transition: all linear .2s;
}
.addItem:hover{
    background-color: rgb(64, 116, 54);
    color: white;
}
.removeItem{
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  width: 0px;
  height: 30px;
  line-height: 30px;
  position: fixed;
  left: 60px;
  top:120px;
  border:0px solid;
  border-radius: 3px;
  transition: all linear .2s;
}
.removeItem:hover{
  background-color: rgb(64, 116, 54);
  color: white;
}

.icon-shanchu{
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right:0;
  transition: all ease .2s;
}
.icon-shanchu:hover{
  color:rgb(64, 116, 54);
}

.deleteLike{
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 40px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    left: -110px;
    top:40px;
    border:1px solid;
    border-radius: 3px;
    transition: all linear .2s;
}
.deleteLike:hover{
  background-color: rgb(64, 116, 54);
  color: white;
}