body {
	margin: 0;
	padding: 0;
	background-image: url(../img/雪人.jpg);
	/*background-repeat: no-repeat; */
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

#gundong {
	margin: 0 auto;
}

.td1 {
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;/*规定段落的文本不进行换行*/
	overflow: hidden;/*超出隐藏*/
	text-overflow: ellipsis;/*隐藏的字符用省略号表示  IE*/
	-moz-text-overflow: ellipsis;/*隐藏的字符用省略号表示  火狐*/
}

td,th,tr {
	text-align: center;
}

table {
	background: #f5f5f57d;
	table-layout:fixed;/*table的内部布局固定大小，才可以通过td的width控制宽度*/
	word-wrap:break-word; /*允许长单词换到下一行*/
	height: 550px;
}

#buttons {
	width: 50%;
	position:absolute;left:25%; height:100px;
	text-align:left;	
}

.container div {
	text-align: center;
}
footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width:100%;
}

.div1 {
	display: table;
	width: 100%;
	height: 95%;
}
.div2 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#search {
	border:2px solid #5294f5;
	border-radius:5px;
	background:#fff8f8b5;
	width:40%;
	height:40px;
}

#buttonsub {
	border:2px solid #5294f5;
	border-radius:5px;
	background:#fff8f8b5;
	width:5%;
	height:40px;
}

.div-btn{
	width: 50%;
	text-align: left;
	height:5%;
}

#val{
	width: 5%;
}

#cloud {
	left: 50%;
	width: 50%;
	height: 80%;
	margin: 0;
}

#cloudtitle{
	float: right;
	top:10%;
	left: 50%;
	height: 10%;
	width: 50%;
	text-align: center;
}

#analyze{
	overflow: hidden;
}