.el-footer {
  background-color: #133382;
  color: #d3dce6;
  text-align: center;
  line-height: 80px;
  height: 80px !important;
}
.registertitle {
  width: 200px;
  height: 100px;
  float: left;
  top: 200px;
  left: 100px;
  font-size: 40px;
  line-height: 100px;
  position: relative;
  font-weight: bold;
}
.registerblock {
  height: 900px;
  width: 50%;
  float: left;
  position: relative;
  right: 0px;
  background-color: #ffffff;
}
.registerform {
  width: 500px;
  height: 500px;
  float: left;
  position: relative;
  top: 300px;
  left: 50%;
  margin-left: -50%;
}
.registerinput {
  background: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.pageimage {
  margin-top: 0px;
  height: 900px;
  width: 50%;
  float: left;
  position: relative;
  left: 0px;
}
