body{

}
.header{
    width: 100%;
    height: 300px;
    background-color: #45ebc2;
}
.main{
    width: 100%;
    height: 580px;
    background: url("../img/1.png");
}
.logo{
    width: 50%;
    padding-left: 20px;
    padding-top: 15px;
}
.logo_box{
    float: left;
}
.navigation_box{
    float: right;
    width: 400px;
    height: 100px;

}
.nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.nav li{
    list-style: none;

    text-align: center;
    line-height: 30px;
    padding: 10px;
    height: 30px;
    width: 100px;
    margin: 0 10px;
}
.nav{
    float:left;
}
.nav_post{
    border-bottom: 5px solid #0000ff;

}

.a2:link,.a2:active{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.a2:visited {
    color: #FFFFFF;
}
#papertable a:link,a:active{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
#papertable a:visited {
    color: black;
}
.a1:link,.a1:active{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #0000ff;
}
.a1:visited {
    color: #0000ff;
}


#papertable {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    table-layout:fixed;
}

#papertable td, #papertable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#papertable tr:nth-child(even){background-color: #f2f2f2;}

#papertable tr:hover {background-color: #ddd;}

#papertable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.num {
    width: 3%;
}

.title {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 20%;
}

.conference {
    width: 5%;
}

.summary {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 33%;
}

.link {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 15%;
}

.keywords {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 20%;
}

.delete {
    width: 4%;
}
#div_paperQueryForm{
    height:50px;
    top: 180px;
    position: relative;
}
#queryForm{
    height: 80%;
    width: 40%;
    margin-left: 30%;
    position: absolute;
}
#query_text{
    position: relative;
    border: #808080 1px solid;
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
    color: #000000;
    display: inline;
    height: 100%;
    width: 600px;
    float: left;
    padding-left: 10px;
    box-shadow: darkgrey 2px 2px 2px 1px;
}
#query_btn{
    background-color: blue;
    height: 110%;
    width: 100px;
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: darkgrey 2px 2px 2px 1px;
}
#queryForm input:focus{
    outline: none;
}
#queryForm button{
    outline: none;
}
#div_paperList{
    text-align: center;
}
#div_paging{
    position: absolute;
    bottom: 15px;
    right: 15px;
}