html,body{
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    background: url("../img/1.png") repeat;
}
.header{
    width: 100%;
    height: 300px;
    background-color: #45ebc2;
}
.main{
    /*width: 100%;*/
    height: 580px;
}
.logo{
    width: 50%;
    padding-left: 20px;
    padding-top: 15px;
}
.logo_box{
    float: left;
}
.message_box{
    width: 80%;
    position: absolute;
    top: 150px;
}
.message{
    padding: 20px;
    float: right;
    background-color: white;
    width: 75%;
    height: 100%;
    border-radius: 20px;
    opacity: 75%;
    box-shadow: darkgrey 4px 4px 4px 2px;
}
.gray {
    height: 60px;
    width: 60px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    opacity: 90%;
}

.message_link{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}
.message_year{
    float: right;
    padding-right:15px ;
}
.message_type{
    float: right;
    padding-right: 50px;
}
#title{
    text-align: center;
    font-size: 25px;
}
#keywords{
    color: #02A7F0;
    font-size: 18px;
    margin-left: 10px;
}
#summary{
    border: 2px dashed #c4c3c3;
    border-radius: 15px;
    padding: 18px;
    margin: 15px;
    text-indent: 2em;
    font-size: 18px;
}
.circle{
    background-color: #45ebc2;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 100%;
}
