body{

}
.header{
    width: 100%;
    height: 300px;
    background-color: #45ebc2;
}
.main{
    width: 100%;
    height: 580px;
    background: url("photo/1.png");
}
.logo{
    width: 50%;
    padding-left: 20px;
    padding-top: 15px;
}
.logo_box{
    float: left;
}
.message_box{

    width: 80%;
    height: 600px;
    position: absolute;
    top: 165px;
}
.message{
    float: right;
    background-color: white;
    width: 75%;
    height: 100%;
    border-radius: 20px;
    opacity: 75%;
    box-shadow: darkgrey 4px 4px 4px 2px;
}
.gray {
    height: 50px;
    width: 120px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    color: #e9e9e9;
    box-shadow: 0 -1px 0 #114566 inset,1px 0 0 #114566 inset;
    border: solid 1px #476a4a;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#67eccb), to(#439581));
    background: -moz-linear-gradient(top,  #67eccb,  #439581);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#67eccb', endColorstr='#439581');
}
.gray:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#439581), to(#67eccb));
    background: -moz-linear-gradient(top,  #439581,  #67eccb);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#439581', endColorstr='#67eccb');

}