body
{
    background-image:url(pp.jpg) ;
    color:bisque;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}

.login
{
    position: relative;
    margin-left:30%;
    margin-top: 10%;
    width: 550px;
    height: 500px;
    background: rgba(255, 255, 255,0.5);
    border-radius: 30px;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

#login{
    position: relative;
    margin-left:10%;
    margin-top: 10%;
    height: 36px;
    color: rgba(16, 16, 16, 100);
    font-size: 24px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
}

#name{
    position: relative;
    margin-left:10%;
    margin-top: 5%;
    width: 440px;
    height: 60px;
    line-height: 20px;
    border-radius: 30px;
    text-align: left;
    text-indent: 55px;
    border: 1px solid rgba(211, 211, 211, 100);
    outline: none;
} 

#password{
    position: relative;
    margin-left:10%;
    margin-top: 5%;
    width: 440px;
    height: 60px;
    line-height: 20px;
    border-radius: 30px;
    text-align: left;
    text-indent: 55px;
    border: 1px solid rgba(211, 211, 211, 100);
    outline: none;
}

#btn{
    position: relative;
    margin-left:10%;
    margin-top: 5%;
    width: 440px;
    height: 60px;
    line-height: 23px;
    border-radius: 30px;
    background-color: rgba(57, 82, 253, 100);
    color: rgba(255, 255, 255, 100);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(255, 255, 255, 100);
    transition: 0.4s;
    outline: none;
}

#btn:hover{
    background-color: white;
    color: black;
    border: 1px black solid;
}

#normal
{
    position: relative;
    margin-left:75%;
    margin-top: 5%;
    width: 64px;
    height: 24px;
    color: rgba(0,0,0, 100);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

#ps
{
    position: relative;
    margin-left:50%;
    margin-top: 1%;
    color: #000;
}