.formContainer{
    background: lightcyan;
    border:1px solid #BBFFE3;
    /*box-shadow: darkgrey 3px 3px 3px 3px ;*/
    border-radius: 10px;
}
.formContainerP{
    margin-top: 120px;
}
.formContainer h1{
    text-align: center;
}
.formContainer button{
    background: cornflowerblue;
}
.formContainer form{
    padding: 5px;
}
.container{
    border:1px solid #BBFFE3;
    /*box-shadow: darkgrey 3px 3px 3px 3px ;*/
    border-radius: 10px;
    height: 700px;
}