body{
    margin: 0;
    padding: 0;
    background:#131f30;
}
a{
    text-decoration: none;
}
button{
    background: none;
}
img{
    width: auto;
    height: 100%;
}
.title_otherPage{ 
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 68px;
    color:white;
}
.leftpage_btn{
    position: absolute;
    left: 15.5%;
    top: 50%;
    height: 10%;
    width: 10%;
    opacity: 0.5;
    border: none;
    outline: none;
}
.rightpage_btn{
    position: absolute;
    right: 10.5%;
    top: 50%;
    height: 10%;
    width: 10%;
    opacity: 0.5;
    border: none;
    outline: none;
}
.main{
    min-height: 60vh;
    width: 70%;
    list-style: none;
    height: auto;
    margin: 0 auto;
    margin-top: 4%;
    padding-top: 8%;
    padding-left: 0;
    padding-bottom: 60px;
    margin-bottom: 15px;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff80;
}
.chart{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    height: 45%;
    width: 50%;

    border-bottom: 5px black solid;
}
.chartname{
    margin-top: -40px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.selectbox{
    margin: 0 auto;
    align-items: center;
}
.chart_slide{
    padding-top: 5px;
    border-radius: 10px 10px 0 0;
    overflow:hidden;
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    word-wrap: break-word;
    transition: 0.5s;
    text-align: center;
    color: rgb(236, 236, 236);
}
.checkbox{
    display: none;
}
.slide{
    position: fixed;
    top: 80%;
    display: flex;
    left: 0%;
    justify-content: center;
    bottom: 20px;
    width: 100%;
}
label{
    display: inline-block;
    width: fit-content;
    padding: 0.5% 1%;
    height: 15%;
    background: white;
    border-radius: 10px;
    margin: 0 0.5%;
    position: relative;
    transition: 0.4s;
    text-align: center;
    color: rgb(167, 167, 167);
    font-weight: bold;
}
#slide_1:checked~.slide #slide_btn_1,
#slide_2:checked~.slide #slide_btn_2,
#slide_3:checked~.slide #slide_btn_3,
#slide_4:checked~.slide #slide_btn_4,
#slide_5:checked~.slide #slide_btn_5,
#slide_6:checked~.slide #slide_btn_6,
#slide_7:checked~.slide #slide_btn_7,
#slide_8:checked~.slide #slide_btn_8,
#slide_9:checked~.slide #slide_btn_9,
#slide_10:checked~.slide #slide_btn_10
{
    color: white;
    background: black;
}
#slide_1:checked~.chart #slide_chart_1,
#slide_2:checked~.chart #slide_chart_2,
#slide_3:checked~.chart #slide_chart_3,
#slide_4:checked~.chart #slide_chart_4,
#slide_5:checked~.chart #slide_chart_5,
#slide_6:checked~.chart #slide_chart_6,
#slide_7:checked~.chart #slide_chart_7,
#slide_8:checked~.chart #slide_chart_8,
#slide_9:checked~.chart #slide_chart_9,
#slide_10:checked~.chart #slide_chart_10{
    visibility: visible;
    width: 8%;
    margin: 1%;
}
#slide_1:checked~.chart #slide_chart_1{
    background-image: linear-gradient(to top, #ff9569 0%, #e92758 80%);
    min-height: 90%;
}
#slide_2:checked~.chart #slide_chart_2{
    background-image: linear-gradient(to top, #ffbe69 0%, #e92788 80%);
    min-height: 76%;
}
#slide_3:checked~.chart #slide_chart_3{
    background-image: linear-gradient(to top, #ffd900 0%, #e92778 80%);
    min-height: 64%;
}
#slide_4:checked~.chart #slide_chart_4{
    min-height: 55%;
    background-image: linear-gradient(to top, #cff300 0%, #e927b9 80%);
}
#slide_5:checked~.chart #slide_chart_5{
    min-height: 48%;
    background-image: linear-gradient(to top, #00e9ca 0%, #d227e9 80%);
}
#slide_6:checked~.chart #slide_chart_6{
    min-height: 42%;
    background-image: linear-gradient(to top, #69b7ff 0%, #7b27e9 80%);
}
#slide_7:checked~.chart #slide_chart_7{
    min-height: 35%;
    background-image: linear-gradient(to top, #69e1ff 0%, #4427e9 80%);
}
#slide_8:checked~.chart #slide_chart_8{
    min-height: 30%;
    background-image: linear-gradient(to top, #69ffeb 0%, #2764e9 80%);
}
#slide_9:checked~.chart #slide_chart_9{
    min-height: 25%;
    background-image: linear-gradient(to top, #69ffc1 0%, #2782e9 80%);
}
#slide_10:checked~.chart #slide_chart_10{
    min-height: 20%;
    background-image: linear-gradient(to top, #69ff8f 0%, #27c2e9 80%);
}
#slide_1:checked~.chart #slide_chart_1:hover,
#slide_2:checked~.chart #slide_chart_2:hover,
#slide_3:checked~.chart #slide_chart_3:hover,
#slide_4:checked~.chart #slide_chart_4:hover,
#slide_5:checked~.chart #slide_chart_5:hover,
#slide_6:checked~.chart #slide_chart_6:hover,
#slide_7:checked~.chart #slide_chart_7:hover,
#slide_8:checked~.chart #slide_chart_8:hover,
#slide_9:checked~.chart #slide_chart_9:hover,
#slide_10:checked~.chart #slide_chart_10:hover{
    overflow:visible;
    width: 12%;
    color: black;
    box-shadow: 2px -2px 5px 3px black;
    height: fit-content;
}
